<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataDecoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataDecoder.Properties.Settings>
            <setting name="portInv" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Device" serializeAs="String">
                <value>Device0</value>
            </setting>
            <setting name="Device0" serializeAs="String">
                <value>Device0</value>
            </setting>
            <setting name="Device1" serializeAs="String">
                <value>Device1</value>
            </setting>
            <setting name="Device2" serializeAs="String">
                <value>Device2</value>
            </setting>
            <setting name="DataFile" serializeAs="String">
                <value>BandData.xml</value>
            </setting>
            <setting name="DevEnab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Dev0Enab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="followChk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="followRadio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CIVaddr" serializeAs="String">
                <value>1E</value>
            </setting>
            <setting name="RadData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LPint" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LPenab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProfLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="chkRCP2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkRCP3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkRCP4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkPW1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtPW1ra" serializeAs="String">
                <value />
            </setting>
            <setting name="txtPW1ta" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="chkPW1db" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RCP2DisPol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RCP3DisPol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RCP4DisPol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ErrorLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sleep" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SleepVis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ErrorLog1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MacDataFile" serializeAs="String">
                <value>MacroData.xml</value>
            </setting>
            <setting name="RCP2IF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RCP3IF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RCP4IF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RCPtext" serializeAs="String">
                <value>RCP1 - Commander
RCP2 - DXBase
RCP3 - MixW
RCP4 - WriteLog</value>
            </setting>
            <setting name="StepEnab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StepInv" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="StepCom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Latitude" serializeAs="String">
                <value>40.00</value>
            </setting>
            <setting name="Longitude" serializeAs="String">
                <value>-95.00</value>
            </setting>
            <setting name="Grid" serializeAs="String">
                <value />
            </setting>
            <setting name="RotorEnab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rotorModel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RotorSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RotorCom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RotorPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TabOpen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RCP1RotorPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RCP2RotorPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RCP3RotorPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RCP4RotorPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowGeometry" serializeAs="String">
                <value />
            </setting>
            <setting name="Call" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="slaveMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WnEnab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WnCoupler" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AudioOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="s1Type" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="s2Type" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="s3Type" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="s4Type" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="miniGeo" serializeAs="String">
                <value />
            </setting>
            <setting name="AccPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RadioPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lptNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LPportNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cboRCP2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cboRCP3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cboRCP4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StepPortNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lptPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cboPW1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DogEnab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DogTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Drive160" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alc160" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlcEnab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alc80" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alc40" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alc30" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alc20" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alc17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alc15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alc12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alc10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alc6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Drive80" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Drive40" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Drive30" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Drive20" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Drive17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Drive15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Drive12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Drive10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Drive6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MiniTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModeChg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainOnTop" serializeAs="String">
                <value>False</value>
            </setting>
        </DataDecoder.Properties.Settings>
    </userSettings>
</configuration>